<% content_for :title, "Dashboard" %>

<% if @user.store || @orders.any? %>
  <div class="stack justify-between" style="gap: 2rem;">
    
    <% if @user.store %>
      <section class="stack">
        <h4>Store Management</h4>
        <div class="group">
          <%= link_to storefront_path(@user.store.slug), class: "group items-center button" do %>
            <box-icon name="store" size="sm"></box-icon>
            View Storefront
          <% end %>

          <%= link_to store_path, class: "group items-center button" do %>
            <box-icon name="cog" size="sm"></box-icon>
            Manage Store
          <% end %>
        </div>
      </section>

      <section class="stack">
        <h4>Upcoming Events</h4>

        <% if @user.store.events.published.any? %>
          <table>
            <thead>
            <tr>
              <th>Name</th>
              <th>Orders Close</th>
              <th>Pickup</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @user.store.events.published.each do |event| %>
              <tr>
                <td><%= event.name %></td>
                <td><%= nice_date(event.orders_close_at) %></td>
                <td><%= pickup_datetime(event.pickup_at) %></td>
                <td>
                  <%= link_to "Manage", event_path(event) %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <%= link_to "Create Event", new_store_event_path %>
        <% else %>
          <div class="panel">
            <p>No active events.</p>
            <%= link_to "Create Event", new_store_event_path %>
          </div>
        <% end %>
      </section>
    <% end %>

    <% if @orders.any? %>
      <section class="stack">
        <h4>Your Orders</h4>
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Store</th>
              <th>Event</th>
              <th>Pickup Date</th>
              <th>Total</th>
              <th>Placed On</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td data-label="Store">
                  <%= link_to order.event.store.name, storefront_path(order.event.store.slug) %>
                </td>
                <td data-label="Event"><%= order.event.name %></td>
                <td data-label="Pickup Date"><%= pickup_datetime(order.event.pickup_at) %></td>
                <td data-label="Total"><%= number_to_currency(order.total_price) %></td>
                <td data-label="Placed On"><%= nice_date(order.created_at) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
    <% end %>

  </div>
<% else %>
  <section class="stack align-center text-center" style="padding: 4rem 2rem; border: 2px dashed #ccc; border-radius: 8px;">
    <p>This is your dashboard where you can see orders you've placed or manage your own bakery.</p>
    <div style="margin-top: 2rem;">
      <p>Want to sell your own bread?</p>
      <%= link_to "Create your Store", new_store_path, class: "button" %>
    </div>
  </section>
<% end %>
