<% content_for :title, "Sign in" %>
<h1>Enter your login code</h1>

<p>We sent a 6-digit code to <strong><%= @prefill_email %></strong>. It expires in 10 minutes.</p>

<%= form_with url: confirm_session_path, method: :post, local: true, data: { controller: "otp" } do |f| %>
  <%= hidden_field_tag :email, @prefill_email %>

  <div>
    <%= label_tag :code, "6-digit code" %>
    <%= text_field_tag :code, nil, required: true, autofocus: true, maxlength: 6, pattern: "\\d{6}", autocomplete: "one-time-code", inputmode: "numeric", data: { otp_target: "input", action: "input->otp#submit" } %>
  </div>

  <div>
    <%= submit_tag "Sign in" %>
  </div>
<% end %>

<p>
  <%= link_to "Send me a new code", new_session_path %>
</p>
