<div class="card stack-sm<%= ' sold-out' unless product.available? %>">
  <% if product.image.attached? %>
    <%= image_tag product.image.variant(resize_to_limit: [600, 400], format: :webp), class: "img-product" %>
  <% end %>
  <div class="group justify-between items-center">
    <div>
      <h3><%= product.name %></h3>
      <div>
        <span class="text-lg"><%= product.price_formatted %></span>
        <% if product.available? %>
          <span class="text-muted text-sm"> · <%= product.remaining %> left</span>
        <% else %>
          <span class="text-muted text-sm"> · Sold out</span>
        <% end %>
      </div>
    </div>

    <% if event.orders_open? && product.available? %>
      <% if authenticated? %>
        <%= form_with url: storefront_event_order_items_path(store.slug, event, event_product_id: product.id), method: :post do %>
          <button class="primary">Add to Order</button>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
