<nav class="settings-nav">
  <%= nav_link_to "Dashboard", store_path %>
  <span class="sep"></span>
  <%= nav_link_to "Events", store_events_path %>
  <span class="sep"></span>
  <%= nav_link_to "Store Info", store_settings_path %>
  <span class="sep"></span>
  <%= nav_link_to "Baker Profile", store_profile_path %>
  <span class="sep"></span>
  <%= nav_link_to "Payments", store_payments_path %>
  <span class="sep"></span>
  <%= link_to "View Storefront ↗", storefront_path(@store.slug), target: "_blank", rel: "noopener noreferrer" %>
</nav>
