<% content_for :title, "Create Store" %>
<h1>Create Store</h1>

<%= form_with model: @store, url: store_path do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :slug, "Store URL" %><br>
    <%= f.text_field :slug, placeholder: "my-bread-shop" %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.submit "Create Store" %>
  </div>
<% end %>
