<%= render_breadcrumbs([
  { name: @store.name, path: store_path },
  { name: @event.name, path: event_path(@event) },
  { name: "Edit" }
]) %>

<h1>Edit Event</h1>

<%= form_with model: [@event], local: true do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div class="group">

    <div>
      <%= form.label :orders_close_at, "Orders close at" %><br>
      <%= form.date_field :orders_close_at, required: true, min: Date.current %>
    </div>
  </div>

  <div>
    <%= form.label :pickup_at, "Pickup date" %><br>
    <%= form.date_field :pickup_at, required: true, min: Date.current %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<div class="group items-center justify-end" style="margin-top: var(--sp-2xl);">

  <%= button_to "Delete Event", event_path(@event),
      form: { data: { turbo_confirm: "Are you sure? This will delete all products belonging to this event." } },
      method: :delete,
      class: "button-link text-danger text-sm" %>
</div>
