<% content_for :title, "#{@store.name} — New Event" %>
<h1>New Event</h1>

<%= form_with model: [@store, @event], local: true do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div class="group">


    <div>
      <%= form.label :orders_close_at, "Orders close at" %><br>
      <%= form.date_field :orders_close_at, required: true, min: Date.current %>
    </div>
  </div>

  <div>
    <%= form.label :pickup_at, "Pickup date" %><br>
    <%= form.date_field :pickup_at, required: true, min: Date.current %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<p>
  <%= link_to "Back", store_events_path %>
</p>
