<h2>
  <%= @event.name %>
  <% if @event.draft? %>
    <span>(Draft)</span>
  <% end %>
</h2>

<% if @event.draft? && current_user == @store.user && @event.event_products.present? %>
  <div class="group">
    <%= button_to "Publish Event", publish_event_path(@event), method: :post, data: { turbo_confirm: "Are you sure? This will email all subscribers." } %>
  </div>
<% end %>

<h4><%= @event.description %></h4>
<h4>Orders close <%= nice_date(@event.orders_close_at) %></h4>
<hr>

<h3>Products Available</h3>

<% if @event.event_products.any? %>
  <table class="responsive-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Qty</th>
      <th>Price</th>
      <% if authenticated? && current_user == @store.user %>
        <th></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @event.event_products.each do |product| %>
      <tr>
        <td data-label="Name"><strong><%= product.name %></strong></td>
        <td data-label="Qty"><%= product.quantity %></td>
        <td data-label="Price"><%= product.price_formatted %></td>

        <% if authenticated? && current_user == @store.user %>
          <td class="items-baseline group justify-end">
            <%= link_to "Edit", edit_event_product_path(product), class: "button-link" %>
            <%= link_to "Delete",
                        event_product_path(product),
                        data: { turbo_method: :delete, turbo_confirm: "Delete this product?" },
                        class: "button-link",
                        style: "color: red;" %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No products added yet.</p>
<% end %>

<% if authenticated? && current_user == @store.user %>
  <p><%= link_to "Add Product", new_event_event_product_path(@event) %></p>
<% end %>

<p>
  <%= link_to "Edit Event", edit_event_path(@event) %> |
  <%= link_to "Back to Events", store_events_path %>
</p>
