<footer>
  <div class="footer-container">
    <span>&copy; <%= Time.current.year %> LocalBaker</span>
    
    <nav class="footer-nav">
      <%= link_to "Home", root_path %>
      <span class="sep"></span>
      <%= link_to "Explore", explore_path %>
      <span class="sep"></span>
      <%= link_to "Partner Bakers", bakers_path %>
      <span class="sep"></span>
      <%= link_to "Our Ethos", about_path %>
      <span class="sep"></span>
      <%= link_to "Contact", new_contact_path %>
      
      <% if authenticated? %>
        <span class="sep"></span>
        <% if current_user.pro? %>
          <%= link_to "Pro", dashboard_payments_path %>
        <% else %>
          <%= link_to "Upgrade to Pro", billing_upgrade_path %>
        <% end %>
      <% end %>
    </nav>
  </div>
</footer>
