<header>
  <div class="flex items-center justify-between">
    <%= link_to dashboard_path, style: "text-decoration: none; line-height: 0;" do %>
      <img src="/baguette.svg" height="28" alt="LocalBaker">
    <% end %>

    <nav class="group items-center group-lg">
      <% if authenticated? %>
        <% if (store = current_user.store)&.persisted? %>
          <%= link_to "Storefront", storefront_path(store.slug) %>
          <%= link_to "Manage", store_path %>
        <% end %>
        <%= button_to "Sign out", session_path, method: :delete, class: "button-link" %>
      <% else %>
        <%= link_to "Sign in", new_session_path %>
      <% end %>
    </nav>
  </div>
</header>
